.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio__item {
  background: var(--color-bg-var);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-var);
  background: transparent;
}

.portfolio__image {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 100%;
}

.portfolio__image>img {
  width: 100%;
  height: 200px;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
}

.portfolio__cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}




@media screen and (max-width:1020px) {
  section#portfolios {
    padding-top: 1rem;
  }

  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}


@media screen and (max-width:600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}